{% extends 'base/base.html' %}

{% block content %}
    <div class="container flex title-center direction-column">
        <h1>{{ title }}</h1>
        <div class="list-group col-lg-7">
            <a href="{{ url_for('get_books_all') }}" class="list-group-item list-group-item-action" aria-current="true">
                Список всех книг
            </a>
            <a href="{{ url_for('get_student_reader') }}"
               class="list-group-item list-group-item-action">
                Список читателей
            </a>
            <a href="{{ url_for('get_debtors') }}" class="list-group-item list-group-item-action">Список должников</a>
            <a href="{{ url_for('get_take_book') }}" class="list-group-item list-group-item-action">Выдать книгу</a>
            <a href="{{ url_for('get_return_book') }}"
               class="list-group-item list-group-item-action">
                Сдать книгу в библиотеку
            </a>
        </div>
    </div>
{% endblock %}