<!DOCTYPE html>
<html>
<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="flex align-txt-center between">
    <h1>The greatest book library you have ever seen!</h1>
    <div class="flex" style="display: contents;">
        <a class="button" href="{{ url_for('all_books') }}">Main Page</a>
        <a class="button" href="{{ url_for('get_books_form') }}">Добавить книгу >></a>
        <a class="flex clean-link" href="{{ url_for('search_book') }}">
            <span>Search book</span>
            <img style="padding-left: 8px" src="{{ url_for('static', filename='icon/i.webp') }}" alt="search"
                 width="20px">
        </a>
    </div>
</div>
<hr>

{% block content %}{% endblock %}

</body>
</html>
