{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if books %}
            {% if request.path == url_for('search_book') %}
                <h1 style="text-align: center;">Result search by author `{{ author }}`</h1>
            {% endif %}
            <table class="customTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            {{ book.id }}
                        </td>
                        <td>
                            {{ book.title }}
                        </td>
                        <td>
                            <a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.author }}</a>
                        </td>
                        <td>
                            {{ book.views }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 style="text-align: center;"> Sorry, no books in DB.</h2>
        {% endif %}

    </div>
{% endblock %}
