{% extends 'base/base.html' %}

{% block content %}
    <div class="container flex title-center direction-column">
        <h1>{{ title }}</h1>
        <div class="list-group col-lg-7">
            {% if group_id %}
                {{ group_id }}
            <a href="{{ url_for('get_status_task_id', group_id = group_id) }}" class="list-group-item list-group-item-action">Статус задачи</a>
            {% endif %}
            <a href="{{ url_for('subscription_to_newsletter') }}" class="list-group-item list-group-item-action">Подписаться на рассылку</a>
            <a href="{{ url_for('unsubscription_from_newsletter') }}"
               class="list-group-item list-group-item-action">
                Отписаться от рассылки
            </a>
        </div>
    </div>
{% endblock %}
