{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        {% if users %}
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Почта</th>
                  <th scope="col">Телефон</th>
                </tr>
              </thead>
              {% for _user in users %}
            <tbody>
            <tr>
                <td>{{ _user.name }}</td>
                <td>{{ _user.surname }}</td>
                <td>{{ _user.user.email }}</td>
                <td>{{ _user.phone }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <h4>Данных пока нет</h4>
        {% endif %}
    </div>
{% endblock %}
