{% extends 'base/base.html' %}

{% block content %}
<div class="container flex title-center direction-column">
    <h1>{{ title }}</h1>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', ] -%}
        <p>{{ field.label(class="form-label") }}
            {% if field.errors %}
            {{ field(class=invalid) }}
            <span>
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% endif %}
            {{ field(class="form-check-label") }}
        </p>
        {% endfor %}
        <div class="mb-3">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
{% endblock %}