<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 50px;">
    <div class="container-fluid">
        <a class="btn {% if context.stag == 0 %}btn-primary{% endif %}" style="font-size: 20PX;" href="{{ url_for('index') }}">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn {% if context.stag == 1 %}btn-primary{% endif %}" aria-current="page" href="{{ url_for('page_one') }}">
                        Дверь 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if context.stag == 2 %}btn-primary{% endif %}" aria-current="page"
                        href="{{ url_for('page_two') }}">Дверь 2</a>
                </li>
                <li class="nav-item">
                    <a class="btn {% if context.stag == 3 %}btn-primary{% endif %}" aria-current="page"
                        href="{{ url_for('page_three') }}">Дверь 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>