{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h1>Читатели библиотеки</h1>
        {% for stud in students %}
            {% with student = stud[0] %}
                <div class="card">
                    <div class="card-header flex" style="justify-content: space-between">
                        <div>Имя:
                            <string class="name-head">{{ student.student.name }}</string>
                        </div>
                        <div>Фамилия:
                            <string class="name-head">{{ student.student.surname }}</string>
                        </div>
                        <div>Почта:
                            <string class="name-head">{{ student.student.email }}</string>
                        </div>
                    </div>
                    {% with debtor = stud[1] %}
                        <div class="card-body">
                            <h5 class="card-title">Название книги: {{ debtor.reader.book_id }}</h5>
                            <div>Номер телефона:
                                <string class="name-head">{{ student.student.phone }}</string>
                            </div>
                            <div>Средний балл:
                                <string class="name-head">{{ student.student.average_score }}</string>
                            </div>
                            {% if student.scholarship %}
                                Стипендия:
                                <string class="name-head">Получает</string>
                            {% else %}
                                Стипендия:
                                <string class="name-head">Не получает</string>
                            {% endif %}
                            <div>Держит книгу на руках:
                                {% if debtor.count_day == 0 %}
                                    <string class="name-head">сегодня</string>
                                {% else %}
                                <string class="name-head">{{ debtor.count_day }} дн.</string>
                                {% endif %}
                            </div>
                            <p></p>
                        </div>
                    {% endwith %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}